@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin:0;
}



/**
  maplibre-gl additional styling
*/
.geofence-ctrl-create-prompt {
    box-shadow: 0px -2px 4px rgb(0 0 0 / 12%);
    border-radius: 4px;
    background: white;
    padding: 12px;
    position: absolute;
    top: 0;
    pointer-events: auto;
}
.geofence-ctrl-list-container {
    height: max-content;
    border-radius: 0.2em;
}